@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Leckerli+One&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 20px;
}

body {
    background-color: #FFEBCD;
    font-family: "Poppins", sans-serif;
}
h1, h2, h3 {
    color: white;
    font-weight: 400;
    font-style: italic;
    text-align: center;    
    }
    h1 {
        font-size: 4.209rem;
        text-shadow: 3px 3px 2px red,
                    6px 6px 2px orange,
                    9px 9px 3px yellow,
                    12px 12px 4px green,
                    15px 15px 4px blue,
                    18px 18px 4px purple;
    }
    h2 {
        font-size: 3.630rem;
        text-shadow: -4px 4px 1px #6FE6FC,
                    -8px 8px 1px #A0E1F9,
                    -12px 12px 1px #698198;
    }
    h3 {
        font-size: 2.369rem;
    }
    h4 {
        font-size: 1.777rem;
    }
    h5 {
        font-size: 1.333rem;
    }

    h6 {
        font-size: 1rem;
    }
    p {
        text-align: justify;
        line-height: 1.5;
        }

    strong {
        background-color: aqua;
        text-decoration: underline;
    }